#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-container,
.brand-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category,
.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}



.circle-image{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  
  height: 160px;  

}
.circle-image img{
  width:100%;
  height:100%;
  object-fit: fill;
}

.Backtohome{
  display: flex;
}

.shopping-cart {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shopping-cart h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.cart-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.cart-item img {
  width: 120px;
  height: auto;
  border-radius: 6px;
  margin-right: 20px;
}

.cart-item p {
  margin: 0;
}

.cart-item p strong {
  font-weight: bold;
  color: #333;
}

.cart-item .item-details {
  display: flex;
  align-items: center;
}

.total {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.link-button {
  text-decoration: none;
  color: #fff;
}

.inventory-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
 
.productCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
.welcome{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: wheat;
  color: black;
  padding: 10px;
  border-radius: 5px;
}